div.container {
  background-color: #23252C;
  max-width: 550px;
  margin: 0 auto;
  padding: 44px 0;
}

header,
main,
footer {
  max-width: 317px;
  margin: 0 auto;
}

header {
  background-color: #F5F5F5;
}

img {
  max-width: 100%;
}
