div.container {
  background-color: #23252C;
  max-width: 550px;
  margin: 0 auto;
  padding: 44px 0;
}

header,
main,
footer {
  max-width: 317px;
  margin: 0 auto;
}

header,
.info--img-container,
img.info--img {
  border-radius: 10px 10px 0 0;
}

header {
  background-color: #F5F5F5;
}

.info--img-container {
  max-width: 317px;
  height: 332px;
  background-image: url('./assets/images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: .8em 0 .2em 0;
  margin-bottom: 20px;
}

img.info--img {
  max-width: 90%;
  height: 317px;
  display: block;
  margin: 0 auto;
}

.info--bio {
  text-align: center;
  margin-bottom: 17px;
}

.info--name {
  font-size: 25px;
  font-weight: 700;
  line-height: 30.26px;
  color: #2B283A;
}

.info--role {
  font-size: 13px;
  line-height: 15.5px;
  color: #F47D27;
  margin-top: 6.2px;
}

.info--website {
  font-size: 10.3px;
  line-height: 15.4px;
  color: #4A4E74;
  margin-top: 9px;
  text-decoration: none;
}

.info--cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}

button {
  width: 115px;
  padding: 9px 13px 9px 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button > i {
  margin-right: 10px;
}

.info--cta-email {
  background-color: #FFFFFF;
  color: #374151;
  border: 1px solid #D1D5DB;
}

.info--cta-linkedin {
  background-color: #297FE5;
  color: #FFFFFF;
  border: 1px solid #297FE5;
}